{
  "extends": ["stylelint-config-sass-guidelines"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "scss/at-rule-no-unknown": true,
    "no-empty-source": null,
    "selector-pseudo-element-colon-notation": null,
    "declaration-property-value-no-unknown": null,
    "max-nesting-depth": null,
    "@stylistic/string-quotes": "single"
  },
  "ignoreFiles": [
    "**/build/**",
    "dist/**",
    "src/theme/colors.sass",
    "src/components/FooterNav/FooterNav.module.sass",
    "src/components/Layout/Layout.module.sass",
    "src/pages/ChatList/ChatList.module.sass",
    "src/pages/Profile/Profile.module.sass",
    "src/pages/Register/Register.module.sass"
  ]
}
