$primary-color: #000
$secondary-color: #18F71F
$background-color: #FFF
$text-color: #1C2526
$border-color: #EAEAEA
$active-color: rgb(0 255 43 / 10%)
$secondary-text-color: #999
$error-color: #FF2757
