$primary-color: #000000
$secondary-color: #18F71F
$background-color: #FFFFFF
$text-color: #1C2526
$border-color: #EAEAEA
$active-color: rgba(0, 255, 43, 0.1)
$secondary-text-color: #999999
$error-color: #FF2757
