@use 'sass:color'
@use '@/theme/colors' as *

.backButton
  font-family: 'Onest', sans-serif
  width: 100%
  padding: 10px
  background-color: transparent
  color: $secondary-color
  border: 1px solid $secondary-color
  border-radius: 5px
  font-size: 16px
  cursor: pointer
  margin-top: 10px

  &:hover
    background-color: $secondary-color
    color: white
