@use 'sass:color'
@use '@/theme/colors' as *
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;800&display=swap')

*
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body
  height: 100%
  overflow: hidden
  font-family: 'Onest', sans-serif
  background-color: $background-color

#app
  height: 100%
  display: flex
  flex-direction: column

h1
  padding: 0
  margin: 0

input
  box-sizing: border-box
  width: 100%
  padding: 10px
  border: none
  border-bottom: 1px solid $border-light
  font-size: 14px
  background-color: $white
  color: $text-color

label
  width: 100%

input:-webkit-autofill
  background-color: $autofill-bg !important
  -webkit-box-shadow: 0 0 0 1000px $autofill-bg inset !important
  -webkit-text-fill-color: $primary-color !important

ul
  list-style: none
